@import url(https://fonts.googleapis.com/css?family=Numans);
:root {
    --red: #E50914;
    --white: #fff;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    /*background-image: url(/images/background.jpeg?fc9fb2c89d97f15c69c5dc61179c23dc);*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.movie-card:hover {
    cursor: pointer;
}

.profile-list {
    line-height: 35px;
}
.friend .btn {
    font-size: 13px;
}

.modal .friend {
    cursor: pointer;
}

/***** Notifications *****/

.not-icon {
    cursor: pointer;
    font-size: 18px
}

.not-icon .badge {
    left: 5px;
    top: -6px;
    font-size: 10px;
    font-weight: lighter;
    padding: 3px 4px;
}

.not-icon button {
    font-size: 12px;
    padding: 3px 10px;
}

.not-list {
    width: 320px;
    top: -7px;
    left: -300px;
    z-index: 100;
    transition: opacity .1s ease-in-out;
}

.not-list ul {
    max-height: 336px;
    overflow-y: scroll;
}

.not-list.hide {
    opacity: 0;
}

.not-list li {
    transition: all .1s ease-in-out;
}

.not-list li:hover:not(.not-header) {
    background: lightgray;
}

.not-header {
    font-size: 15px;
}

.not-message {
    font-size: 14px;
    margin-bottom: 0px;
}

.not-time {
    font-size: 13px;
}

.not-time-2 {
    bottom: 1%;
    right: 1%;
    font-size: 14px;
}

@media (max-width: 975px) {
    .not-icon {
        position: absolute;
        left: 80%;
        transform: translateY(-900%)
    }
}
