@import url('https://fonts.googleapis.com/css?family=Numans');

:root {
    --red: #E50914;
    --white: #fff;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    background-image: url('../images/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.movie-card:hover {
    cursor: pointer;
}

.profile-list {
    line-height: 35px;
}

.friend .btn {
    font-size: 13px;
}

.modal .friend {
    cursor: pointer;
}