@import url('https://fonts.googleapis.com/css?family=Numans');

:root {
    --red: #E50914;
    --white: #fff;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,body {
    background-image: url('../images/background.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    max-width: 1600px;
}

.movie-card:hover {
    cursor: pointer;
}